---
name: Build + Test
on:
  push:
  pull_request:
  branches:
    - "**" # matches every branch
    - "!master" # excludes master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
          - '2.6'
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - ruby-head
          - jruby-head

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1
      - name: Deps
        run: bundle install --jobs 4 --retry 3
      - name: Run tests
        run: bundle exec rake test
